# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

mysql-db

#dataset file
title.basics.tsv
#converted file
title_basics.csv
#dataset file
title.ratings.tsv
#converted file
title_ratings.csv